/* 1. Reset and Box Sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* 2. Container */
.container {
    width: 100%;
    padding-right: 16px;
    /* ガターの半分の幅 */
    padding-left: 16px;
    /* ガターの半分の幅 */
    margin-right: auto;
    margin-left: auto;
    max-width: calc(1200px - 80px + 32px);
}

.container-fluid,
.container-sm {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

/* Container Media Queries */
@media (max-width: 1023px) {

    .container,
    .container-md {
        max-width: calc(1024px - 60px + 32px);
    }
}

@media (max-width: 767px) {

    .container,
    .container-md,
    .container-sm {
        max-width: calc(768px - 40px +32px);
    }
}

/* 3. Grid Row */
.row {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 0 16px;

}

.no-gutters {
    gap: 0;
}

.display-none {
    display: none !important;
}


.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-21,
.col-22,
.col-23,
.col-24,
.col,
.col-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-13,
.col-md-14,
.col-md-15,
.col-md-16,
.col-md-17,
.col-md-18,
.col-md-19,
.col-md-20,
.col-md-21,
.col-md-22,
.col-md-23,
.col-md-24,
.col-md,
.col-md-auto .col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-13,
.col-sm-14,
.col-sm-15,
.col-sm-16,
.col-sm-17,
.col-sm-18,
.col-sm-19,
.col-sm-20,
.col-sm-21,
.col-sm-22,
.col-sm-23,
.col-sm-24,
.col-sm,
.col-sm-auto {

    grid-column: span 24;
}


.row>.col {
    grid-column: span 24;
}

/* 均等カラムの再現 */
.row>.col-auto {
    grid-column: auto / auto;
    width: auto;
}

.col-auto {
    grid-column: span auto;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

.col-13 {
    grid-column: span 13;
}

.col-14 {
    grid-column: span 14;
}

.col-15 {
    grid-column: span 15;
}

.col-16 {
    grid-column: span 16;
}

.col-17 {
    grid-column: span 17;
}

.col-18 {
    grid-column: span 18;
}

.col-19 {
    grid-column: span 19;
}

.col-20 {
    grid-column: span 20;
}

.col-21 {
    grid-column: span 21;
}

.col-22 {
    grid-column: span 22;
}

.col-23 {
    grid-column: span 23;
}

.col-24 {
    grid-column: span 24;
}


/* order */
.order-first {
    order: -1;
}

.order-last {
    order: 25;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

/* オフセットの再現 (grid-column-startを使用) */
.offset-1 {
    grid-column-start: 2;
}

.offset-2 {
    grid-column-start: 3;
}

.offset-3 {
    grid-column-start: 4;
}

.offset-4 {
    grid-column-start: 5;
}

.offset-5 {
    grid-column-start: 6;
}

.offset-6 {
    grid-column-start: 7;
}

.offset-7 {
    grid-column-start: 8;
}

.offset-8 {
    grid-column-start: 9;
}

.offset-9 {
    grid-column-start: 10;
}

.offset-10 {
    grid-column-start: 11;
}

.offset-11 {
    grid-column-start: 12;
}

.offset-12 {
    grid-column-start: 13;
}

.offset-13 {
    grid-column-start: 14;
}

.offset-14 {
    grid-column-start: 15;
}

.offset-15 {
    grid-column-start: 16;
}

.offset-16 {
    grid-column-start: 17;
}

.offset-17 {
    grid-column-start: 18;
}

.offset-18 {
    grid-column-start: 19;
}

.offset-19 {
    grid-column-start: 20;
}

.offset-20 {
    grid-column-start: 21;
}

.offset-21 {
    grid-column-start: 22;
}

.offset-22 {
    grid-column-start: 23;
}

.offset-23 {
    grid-column-start: 24;
}


/* 5. レスポンシブなCSS Grid (md:1024px sm: 768px以下) */
@media (max-width: 1023px) {

    /* .col-sm の再現 */
    .row>.col-md {
        grid-column: span 24;
    }

    .col-md-auto {
        grid-column: span auto;
    }

    /* col-sm-X */
    .col-md-1 {
        grid-column: span 1;
    }

    .col-md-2 {
        grid-column: span 2;
    }

    .col-md-3 {
        grid-column: span 3;
    }

    .col-md-4 {
        grid-column: span 4;
    }

    .col-md-5 {
        grid-column: span 5;
    }

    .col-md-6 {
        grid-column: span 6;
    }

    .col-md-7 {
        grid-column: span 7;
    }

    .col-md-8 {
        grid-column: span 8;
    }

    .col-md-9 {
        grid-column: span 9;
    }

    .col-md-10 {
        grid-column: span 10;
    }

    .col-md-11 {
        grid-column: span 11;
    }

    .col-md-12 {
        grid-column: span 12;
    }

    .col-md-13 {
        grid-column: span 13;
    }

    .col-md-14 {
        grid-column: span 14;
    }

    .col-md-15 {
        grid-column: span 15;
    }

    .col-md-16 {
        grid-column: span 16;
    }

    .col-md-17 {
        grid-column: span 17;
    }

    .col-md-18 {
        grid-column: span 18;
    }

    .col-md-19 {
        grid-column: span 19;
    }

    .col-md-20 {
        grid-column: span 20;
    }

    .col-md-21 {
        grid-column: span 21;
    }

    .col-md-22 {
        grid-column: span 22;
    }

    .col-md-23 {
        grid-column: span 23;
    }

    .col-md-24 {
        grid-column: span 24;
    }


    .order-md-first {
        order: -1;
    }

    .order-md-last {
        order: 25;
    }

    .order-md-0 {
        order: 0;
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .order-md-3 {
        order: 3;
    }

    .order-md-4 {
        order: 4;
    }

    .order-md-5 {
        order: 5;
    }

    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10;
    }

    .order-md-11 {
        order: 11;
    }

    .order-md-12 {
        order: 12;
    }


    /* offset-sm-X */
    .offset-md-0 {
        grid-column-start: 1;
    }

    .offset-md-1 {
        grid-column-start: 2;
    }

    .offset-md-2 {
        grid-column-start: 3;
    }

    .offset-md-3 {
        grid-column-start: 4;
    }

    .offset-md-4 {
        grid-column-start: 5;
    }

    .offset-md-5 {
        grid-column-start: 6;
    }

    .offset-md-6 {
        grid-column-start: 7;
    }

    .offset-md-7 {
        grid-column-start: 8;
    }

    .offset-md-8 {
        grid-column-start: 9;
    }

    .offset-md-9 {
        grid-column-start: 10;
    }

    .offset-md-10 {
        grid-column-start: 11;
    }

    .offset-md-11 {
        grid-column-start: 12;
    }

    .offset-md-12 {
        grid-column-start: 13;
    }

    .offset-md-13 {
        grid-column-start: 14;
    }

    .offset-md-14 {
        grid-column-start: 15;
    }

    .offset-md-15 {
        grid-column-start: 16;
    }

    .offset-md-16 {
        grid-column-start: 17;
    }

    .offset-md-17 {
        grid-column-start: 18;
    }

    .offset-md-18 {
        grid-column-start: 19;
    }

    .offset-md-19 {
        grid-column-start: 20;
    }

    .offset-md-20 {
        grid-column-start: 21;
    }

    .offset-md-21 {
        grid-column-start: 22;
    }

    .offset-md-22 {
        grid-column-start: 13;
    }

    .offset-md-23 {
        grid-column-start: 14;
    }
 
    .display-md-none {
    display: none !important;
}

}


@media (max-width: 767px) {

    /* .col-sm の再現 */
    .row>.col-sm {
        grid-column: span 24;
    }

    .col-sm-auto {
        grid-column: span auto;
    }

    /* col-sm-X */
    .col-sm-1 {
        grid-column: span 1;
    }

    .col-sm-2 {
        grid-column: span 2;
    }

    .col-sm-3 {
        grid-column: span 3;
    }

    .col-sm-4 {
        grid-column: span 4;
    }

    .col-sm-5 {
        grid-column: span 5;
    }

    .col-sm-6 {
        grid-column: span 6;
    }

    .col-sm-7 {
        grid-column: span 7;
    }

    .col-sm-8 {
        grid-column: span 8;
    }

    .col-sm-9 {
        grid-column: span 9;
    }

    .col-sm-10 {
        grid-column: span 10;
    }

    .col-sm-11 {
        grid-column: span 11;
    }

    .col-sm-12 {
        grid-column: span 12;
    }

    .col-sm-13 {
        grid-column: span 13;
    }

    .col-sm-14 {
        grid-column: span 14;
    }

    .col-sm-15 {
        grid-column: span 15;
    }

    .col-sm-16 {
        grid-column: span 16;
    }

    .col-sm-17 {
        grid-column: span 17;
    }

    .col-sm-18 {
        grid-column: span 18;
    }

    .col-sm-19 {
        grid-column: span 19;
    }

    .col-sm-20 {
        grid-column: span 20;
    }

    .col-sm-21 {
        grid-column: span 21;
    }

    .col-sm-22 {
        grid-column: span 22;
    }

    .col-sm-23 {
        grid-column: span 23;
    }

    .col-sm-24 {
        grid-column: span 24;
    }


    .order-sm-first {
        order: -1;
    }

    .order-sm-last {
        order: 25;
    }

    .order-sm-0 {
        order: 0;
    }

    .order-sm-1 {
        order: 1;
    }

    .order-sm-2 {
        order: 2;
    }

    .order-sm-3 {
        order: 3;
    }

    .order-sm-4 {
        order: 4;
    }

    .order-sm-5 {
        order: 5;
    }

    .order-sm-6 {
        order: 6;
    }

    .order-sm-7 {
        order: 7;
    }

    .order-sm-8 {
        order: 8;
    }

    .order-sm-9 {
        order: 9;
    }

    .order-sm-10 {
        order: 10;
    }

    .order-sm-11 {
        order: 11;
    }

    .order-sm-12 {
        order: 12;
    }


    /* offset-sm-X */
    .offset-sm-0 {
        grid-column-start: 1;
    }

    .offset-sm-1 {
        grid-column-start: 2;
    }

    .offset-sm-2 {
        grid-column-start: 3;
    }

    .offset-sm-3 {
        grid-column-start: 4;
    }

    .offset-sm-4 {
        grid-column-start: 5;
    }

    .offset-sm-5 {
        grid-column-start: 6;
    }

    .offset-sm-6 {
        grid-column-start: 7;
    }

    .offset-sm-7 {
        grid-column-start: 8;
    }

    .offset-sm-8 {
        grid-column-start: 9;
    }

    .offset-sm-9 {
        grid-column-start: 10;
    }

    .offset-sm-10 {
        grid-column-start: 11;
    }

    .offset-sm-11 {
        grid-column-start: 12;
    }

    .offset-sm-12 {
        grid-column-start: 13;
    }

    .offset-sm-13 {
        grid-column-start: 14;
    }

    .offset-sm-14 {
        grid-column-start: 15;
    }

    .offset-sm-15 {
        grid-column-start: 16;
    }

    .offset-sm-16 {
        grid-column-start: 17;
    }

    .offset-sm-17 {
        grid-column-start: 18;
    }

    .offset-sm-18 {
        grid-column-start: 19;
    }

    .offset-sm-19 {
        grid-column-start: 20;
    }

    .offset-sm-20 {
        grid-column-start: 21;
    }

    .offset-sm-21 {
        grid-column-start: 22;
    }

    .offset-sm-22 {
        grid-column-start: 13;
    }

    .offset-sm-23 {
        grid-column-start: 14;
    }

    .display-sm-none {
    display: none !important;
}

}